<!DOCTYPE html>
<html itemscope
  itemtype="//schema.org/WebPage">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge,chrome=1">
  <meta name="description"
    content="{{description}}" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <meta property="og:title"
    content="{{title}}." />
  <meta property="og:description"
    content="{{description}}" />
  <meta property="og:type"
    content="website" />
  <meta property="og:image"
    content="/images/link-formatter-thumbnail.PNG?1500791645553" />
  <meta property="twitter:image:src"
    content="/images/link-formatter-thumbnail.PNG?1500791645553" />
  <meta name="twitter:title"
    content="{{title}}.">
  <meta name="twitter:description"
    content="{{description}}">
  <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <link rel="stylesheet"
    href="libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet"
    href="css/styles.min.css">
  <link rel="apple-touch-icon"
    sizes="57x57"
    href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon"
    sizes="60x60"
    href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon"
    sizes="72x72"
    href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon"
    sizes="76x76"
    href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon"
    sizes="114x114"
    href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon"
    sizes="120x120"
    href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon"
    sizes="144x144"
    href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon"
    sizes="152x152"
    href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon"
    sizes="180x180"
    href="/images/apple-icon-180x180.png">
  <link rel="icon"
    type="image/png"
    sizes="192x192"
    href="/images/android-icon-192x192.png">
  <link rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png">
  <link rel="icon"
    type="image/png"
    sizes="96x96"
    href="/images/favicon-96x96.png">
  <link rel="icon"
    type="image/png"
    sizes="16x16"
    href="/images/favicon-16x16.png">
  <meta name="msapplication-TileColor"
    content="#ffffff">
  <meta name="msapplication-TileImage"
    content="/images/ms-icon-144x144.png">
  <meta name="theme-color"
    content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Open Sans|Anton"
    rel="stylesheet"
    type="text/css">
  <script>var _paq = window._paq = window._paq || [];/* tracker methods like setCustomDimension should be called before trackPageView */_paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function () { var u = 'https://matomo.stefanbohacek.dev/'; _paq.push(['setTrackerUrl', u + 'matomo.php']); _paq.push(['setSiteId', '6']); var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0]; g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s); })();</script>
</head>

<body>
  <div class="container-fluid">
    <section id="content">
      <div id="content-inner">
        {{{body}}}
      </div>
      <footer>
        <p><a href="https://stefanbohacek.com/project/link-formatter/">Learn more.</a> Created by <a
            href="https://stefanbohacek.online/@stefan">@stefan</a>.</p>
        <div class="container pb-5 mt-5">
          <div class="row align-items-center">
            <div class="col-sm-6 col-md-4 mx-auto text-center">
              <p>
                <a href="https://fightfascism.neocities.org/">
                  <img class="lazy-loaded"
                    title="Fight Fascism sticker by Angus Johnston"
                    alt="Fight fascism"
                    src="https://stefanbohacek.com/wp-content/webp-express/webp-images/doc-root/wp-content/themes/fourtonfish/images/other/fight-fascism-square.png.webp">
                </a>
              </p>
            </div>
            <div class="col-sm-6 col-md-4 mx-auto text-center">
              <p>
                <a href="https://blacklivesmatter.com/">
                  <img class="lazy-loaded"
                    alt="Black Lives Matter"
                    title="Black Lives Matter logo"
                    src="https://stefanbohacek.com/wp-content/webp-express/webp-images/doc-root/wp-content/themes/fourtonfish/images/other/blm.png.webp">
                </a>
              </p>
            </div>
            <div class="col-sm-6 col-md-4 mx-auto text-center">
              <p>
                <a href="https://indieweb.org/">
                  <img class="lazy-loaded"
                    alt="IndieWeb"
                    title="Support #indieweb!"
                    src="https://stefanbohacek.com/wp-content/webp-express/webp-images/doc-root/wp-content/themes/fourtonfish/images/other/indiewebcamp-black.png.webp">
                </a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </section>
  </div>
  <script defer
    src="libs/js.cookie/js.cookie.min.js"></script>
  <script defer
    src="js/scripts.min.js"></script>
</body>

</html>